<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 3: Id and Class</title>
</head>
<body>
    <h1 class="h1-course">Yay! Welcome back!</h1>
    <h2 class="h2-course">In this lesson, you will learn about class and id in HTML!</h2>

    <h3 class="h3-course">IDs</h3>
    <p class="p-course">
        The id attribute specifies a unique id for an HTML element. The value of the id attribute must be unique within the HTML document.
        The id attribute is used to point to a specific style declaration in a style sheet. It is also used by JavaScript to access and manipulate the element with the specific id.
        The syntax for id is: write a hash character (#), followed by an id name.
    </p>

    <h3 class="h3-course">Classes</h3>
    <p class="p-course">
        The class attribute is often used to point to a class name in a style sheet. It can also be used by a JavaScript to access and manipulate elements with the specific class name.
        Let's learn more on how to use id and class
    </p>

    <a class="a-course" href="../../static/lesson-contents/lesson3_content.html">Next</a>
</body>
</html>