<!DOCTYPE html>
<html>
<head>
  <title>Lesson 2: Introduction to Div - id and class</title>
</head>
<body>
  
    <h1 class="h1-course">WooHoo! You Made It!</h1>
    <h2 class="h2-course">Welcome to Lesson 2 of Beginner's HTML Course</h2>

    <h3 class="h3-course">Div in HTML</h3>
    <p class="p-course">The HTML division tag, called "div" for short, is a special element that lets you group similar sets of content together on a web page.</p>  

    <h2 class="h2-course">"div" Tag</h2>
    <p class="p-course">The tag to create a division is < div >, don't forget to close the tags with < / div > .</p>

    <h4 class="h4-course">Next Steps</h4> 
    <p class="p-course">Let's try to create a new div!</p>

    <a class="a-course" href="../../static/lesson-contents/lesson2_content.html" class="btn">Next</a>

</body>
</html>
