<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/">
  <title>HTML Course Overview</title>
</head>
<body>
  <h1 class="h1-course">Welcome to the HTML Course</h1>
  <h3 class="h3-course">This course will guide you through the fundamentals of HTML</h3>
  <p class="p-course">In this course, you will learn the very basics of HTML and its properties.</p>

  <h1 class="h1-course">Lesson Overview</h1>
  <ul>
    <!--Retrieves the available lessons-->
    {% for lesson in lessons %}
      <li><a class="a-course" href="/lessons/{{ lesson }}">{{ lesson }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>